<div class="jumbotron text-center">
  <h1>Mean Authentication app</h1>
  <p class="lead">GeoJSON supports the following geometry types: Point</p>

  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Angular cli</h3>
    <p>All of the configuration options for the Lumen framework are stored in the .env file</p>
  </div>

  <div class="col-md-4">
    <h3>Express backend</h3>
    <p>The next thing you should do after installing Lumen is set your application keAll of the configuration options for the Lumen framework are stored in the .env file</p>
  </div>

  <div class="col-md-4">
    <h3>jwt tokens</h3>
    <p>All of the configuration options for the Lumen framework are stored in the .env file</p>
  </div>
</div>
